
.geral {
    display: flex;
    text-align: center;
    height: 80vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}
.button {
    width: 100px;
}

.subtitle {
    color: rgb(253, 0, 0);
}

.fraseDeImpacto {
    color: rgb(204, 13, 6);
    text-decoration: underline
   
}
